<div class="encre" id="solutions"></div>
<div class="hide-on-med-and-down margin-encre">
    <h2 class="center category-title">Nos Solutions</h2>
    <div class="row">
        {% for category in categories %}
            <div class="col s12 m6 center">
                <a href="{{ path('category_page_view', {'id':category.id}) }}">
                    <img class="circle responsive-img img imgSolutionHomme lazyload " src="{{ asset('img/'~category.picture
                    .pictureName) }}" alt="{{ category.picture.alt }}">
                </a>
                <a href="{{ path('category_page_view', {'id':category.id}) }}" class="btn-floating btn lighten-1 {%
                if loop.index == 1 %} blue {%
                elseif loop.index == 2 %} black {% endif %} "><i class="material-icons">add</i></a>
                <a href="{{ path('category_page_view', {'id':category.id}) }}">
                    <h3 class="black-text"><span class="black-text">{{ category.title | raw }}</span></h3>
                </a>
            </div>
        {% endfor %}
    </div>
</div>