
<div class="fond">
<h2 class="center" id="job">Nos Offres</h2>
<div class="container">
    <div class="row">
        {% for offer in offers %}
        {% if offer.statut in ['Home Site'] %}
        <div class="col s12 m4">
            <div class="card card-offres color">
                {% if offer.attachment_id is not empty %}
                <div class="card-content white-text hvr-bounce-to-right"
                     style="background-image: url('/img/jobPicture/{{ offer.image }}');border-radius: inherit; background-repeat:no-repeat; background-size:cover;">
                {% else %}
                    <div class="card-content white-text hvr-bounce-to-right offerjob" style="background-image: url('../media/Avocat.jpg');
                        border-radius: inherit;
                        background-repeat:no-repeat;
                        background-size:cover;">
                {% endif %}
                        <div class="layer">
                            <a href="{{ path('job_page', {'id': offer.id}) }}">
                            <span class="card-title offers-title">{{ offer.title | raw }}</span>
                            <div class="card-content">
                                <p>
                                    <i class="fa fa-location-arrow"></i> {{ offer.city | raw }}
                                    | {{ offer.duration }}
                                </p>
                            </div>
                            <div class="waves-effect waves-light btn red offres">
                                Voir plus
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
         {% endif %}
         {% endfor %}
        </div>
    </div>
    <div class="col s12">
        <div class="center ">
            <a class="waves-effect waves-light btn red btnOffres" href="{{ path('job_list') }}">Plus d'offres...</a>
        </div>
    </div>
</div>
</div>