<div class="encre pad"id="equipe"></div>
<div class="fond">
    <h2 class="center">Notre Equipe</h2>
    <div class="row">
        {% for person in team %}
            <div class="col l{{ 12/team|length }}  s12 center">
                <img class="team-img circle lazyload" src="{{ asset('img/'~person.picture.pictureName) }}" alt="{{
                person.picture.alt }}">

                <ul class="collapsible popout" data-collapsible="accordion">
                    <li>

                        <div class="collapsible-header ">{{ person.name }}
                         <i class="material-icons">add</i>
                        </div>
                        <div class="collapsible-body"><span>{{ person.text }}</span></div>
                    </li>
                </ul>
                <a class="btn btn-block halfway-fab waves-effect waves-light blue btnLinkedin"
                   href="{{ person.linkedin }}" target='_blank' rel=noopener><i class="fa fa-linkedin"></i>
                </a>
            </div>
        {% endfor %}
    </div>
</div>