{% extends 'base.html.twig' %}

{% block title %}Alimentations{% endblock %}

{% block body %}
    <h1>Alimentations</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ alimentation.id }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ alimentation.marque }}</td>
            </tr>
            <tr>
                <th>Gamme</th>
                <td>{{ alimentation.gamme }}</td>
            </tr>
            <tr>
                <th>Céréales</th>
                <td>{{ alimentation.céréales ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>AlimentType</th>
                <td>{{ alimentation.alimentType }}</td>
            </tr>
            <tr>
                <th>Animal</th>
                <td>{{ alimentation.animal }}</td>
            </tr>
            <tr>
                <th>Bio</th>
                <td>{{ alimentation.bio ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Glucides</th>
                <td>{{ alimentation.glucides }}</td>
            </tr>
            <tr>
                <th>Protéines</th>
                <td>{{ alimentation.protéines }}</td>
            </tr>
            <tr>
                <th>Lipides</th>
                <td>{{ alimentation.lipides }}</td>
            </tr>
            <tr>
                <th>Fibres</th>
                <td>{{ alimentation.fibres }}</td>
            </tr>
            <tr>
                <th>Cendres</th>
                <td>{{ alimentation.cendres }}</td>
            </tr>
            <tr>
                <th>Humidité</th>
                <td>{{ alimentation.humidité }}</td>
            </tr>
            <tr>
                <th>Calcium</th>
                <td>{{ alimentation.calcium }}</td>
            </tr>
            <tr>
                <th>Phosphore</th>
                <td>{{ alimentation.phosphore }}</td>
            </tr>
            <tr>
                <th>RapportPhosphocalcique</th>
                <td>{{ alimentation.rapportPhosphocalcique }}</td>
            </tr>
            <tr>
                <th>Calories</th>
                <td>{{ alimentation.calories }}</td>
            </tr>
            <tr>
                <th>RatioProtidoCalorique</th>
                <td>{{ alimentation.ratioProtidoCalorique }}</td>
            </tr>
            <tr>
                <th>Omega6</th>
                <td>{{ alimentation.omega6 }}</td>
            </tr>
            <tr>
                <th>Omega3</th>
                <td>{{ alimentation.omega3 }}</td>
            </tr>
            <tr>
                <th>Ingrédients</th>
                <td>{{ alimentation.ingrédients }}</td>
            </tr>
            <tr>
                <th>LienSource</th>
                <td>{{ alimentation.lienSource }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('alimentations_index') }}">back to list</a>

    <a href="{{ path('alimentations_edit', {'id': alimentation.id}) }}">edit</a>

    {{ include('alimentations/_delete_form.html.twig') }}
{% endblock %}
